BASE_SCRAPING_URL="https://site.name.com/locale/category/subcategory/"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="cars"
# Postgres client password. Is used to make dumps. Should be the same as POSTGRES_PASSWORD
PGPASSWORD="password"